[toolchain]
package_manager = "yarn"
anchor_version = "0.30.1"
solana_version = "3.0.8"

[features]
resolution = true
skip-lint = false

[programs.localnet]
x1_mining_arena = "9Hd5Nv7MYPeFbSntrdEg92uojcWGuGGH2Mkmyrm7eMGd"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
